<style>
    #logo_name_brand a>p{
        color: #333333 !important;
        font-weight: 600;
        text-align: center;
    }

    #logo_name_brand a {
        text-decoration: none;
        border: 1px solid #eee;
    }

    #logo_name_brand a:hover {
        border-color: #f90;
    }

    #logo_name_brand a:hover>p{
        color: #f90 !important;
    }
    #logo_name_brand a:hover .tooltip-content{
        display: block !important;
    }
    #logo_name_brand {
        display: flex;
        margin-top: 10px;
    }

    .custom-tooltip {
        position: relative;
    }

    .brand-label {
        font-weight: 600;
    }

    #logo_name_brand img {
        width: 70px;
        height: 70px;
        display: inline-block;
        vertical-align: middle;
    }

    .custom-tooltip .tooltip-content {
        background: #fff;
        max-width: 360px;
        min-width: 210px;
        padding: 12px 16px;
        z-index: 100;
        display: none;
        position: absolute;
        text-align: left;
        color: #333;
        line-height: 1.4;
        border: 1px solid #bbb;
        margin-bottom: 5px;
        bottom: 100%;
        left: 0;
    }

    .product-info-price #logo_name_brand {
        display: none;
    }
</style>

<?php
$brandCollection = $this->getBrandCollection();
$brand_text = __('Brands: ');
?>
<?php if($brandCollection && $brandCollection->count()){ ?>
    <?php
    if($brand_text){
        echo '<span class="brand-label">'.$brand_text.'</span>';
    }
    ?>

    <div id="logo_name_brand">
        <?php
        foreach ($brandCollection as $_brand) {
            ?>
            <a href="<?= $this->getBaseUrl() . "{$_brand->getUrlKey()}.html" ?>" title="<?php echo $_brand->getName(); ?>">
                <span class="custom-tooltip">
                    <img id="brand_logo"
                         src="<?php echo $this->getMediaUrl($_brand->getLogo()); ?>"
                         alt="<?php echo $_brand->getName(); ?>" />
                    <span class="tooltip-content" style="text-align: justify; margin-bottom: 40px; display: none">
                        <p style="font-size: 15px;">
                            Adidas AG is a multinational corporation,
                            founded and headquartered in Herzogenaurach,
                            Germany, that designs and manufactures shoes, cl
                        </p>
                        <img src="<?php echo $this->getMediaUrl($_brand->getLogo()); ?>"
                             style="width: 100px; height: 100px; display: block;" />
                    </span>
                </span>
                <p>
                    <?php echo $_brand->getName(); ?>
                </p>
            </a>
        <?php
        }
        ?>
    </div>

<?php } ?>

