<style>
    .brand-view {
        margin-bottom: 50px;
    }
    .brand-view .brand-image, .brand-view .brand-description {
        margin-bottom: 20px;
    }
    img, object, video, embed {
        max-height: 100%;
        max-width: 100%;
    }

    .brand-view .brand-info-bottom {
        overflow: hidden;
    }

    .brand-view .brand-logo {
        float: left;
        margin-right: 25px;
        max-width: 150px;
    }
    .brand-view .brand-image, .brand-view .brand-description {
        margin-bottom: 20px;
        object-fit: cover;
    }
</style>

<?php $brand = $block->getBrand() ?>
<?php if ($brand): ?>
    <div class="brand-view">
        <div class="brand-image">
            <img width="100%" height="500px" src="<?= $block->getMediaUrl($brand->getBanner()) ?>" alt="<?= $brand->getName() ?>">
        </div>
        <div class="brand-info-bottom">
            <div class="brand-logo">
                <img src="<?= $block->getMediaUrl($brand->getLogo()) ?>" alt="<?= $brand->getName() ?>">
            </div>
            <div class="brand-description">
                <p>
                    <?= $brand->getDescription() ?>
                </p>
            </div>
        </div>
    </div>
<?php endif; ?>
