.shopbybrand-block .block-title {
    margin: 0 0 20px;
    background: #f90;
    padding: 8px;
    color: #fff;
    line-height: 1.8;
}

.shopbybrand-block .block-title strong {
    font-size: 18px;
    font-weight: 500;
}

#brand-filter {
    margin-bottom: 50px;
    display: block;
    float: left;
    width: 100%;
}

.shopbybrand-block .block-title .brand-searchform {
    width: 400px;
    float: right;
}

.shopbybrand-block .block-content {
    position: relative;
}

